body {
  border: 3px solid black;
}

header {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

h1 {
  border: 3px solid darkred;
}

figure {
  border: 3px dashed yellowgreen;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

main {
  border: 3px solid blue;
  display: flex;
  align-items: stretch;
}

ul {
  border: 3px solid black;
}

li {
  border: 3px solid red;
}

li:nth-child(2n+1) {
  flex-direction: row-reverse;
}

footer {
  border: 3px solid magenta;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  width: 67%;
  text-align: center;
}

.right-header {
  border: 3px solid purple;
  min-width: 33%;
  text-align: center;
}

.nav-link {
  border: 3px solid orangered;
  padding: 5px;
}

.left-image {
  border: 3px dashed orangered;
  float: inline-start;
  width: 100px;
  height: 1200px;
}

.right-image {
  border: 3px dashed purple;
  float: inline-end;
  width: 100px;
  height: 1200px;
}

.main-groups {
  border: 3px dashed teal;
  flex: 1;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.projects img {
  border: 3px dashed green;
  width: 600px;
  height: 300px;
}

.projects div {
  border: 3px dashed cyan;
  height: 300px;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.projects div h2 {
  border: 3px solid purple;
  height: 32px;
}

.projects div p {
  border: 3px solid rgb(0, 0, 0);
  flex-grow: 1;
}

.skillcard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.skillcard {
  border: 3px solid blue;
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillcard img {
  border: 3px dashed purple;
  width: 200px;
  height: 100px;
}

.skillcard h3 {
  border: 3px dashed salmon;
}

.skillcard p {
  border: 3px dashed lime;
}

.footer-link {
  border: 3px dashed darkgreen;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .skillcard {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 100%;
  }
  
  .skillcard {
    width: 100%;
  }
}
