body {
  border: 3px solid black;
}

header {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

h1 {
  border: 3px solid darkred;
}

figure {
  border: 3px dashed yellowgreen;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

main {
  border: 3px solid blue;
  display: flex;
  align-items: stretch;
}

section {
  border: 3px solid black;
}

article {
  border: 3px solid red;
}

footer {
  border: 3px solid magenta;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 67%;
  text-align: center;
}

.right-header {
  border: 3px solid purple;
  min-width: 33%;
  text-align: center;
}

.nav-link {
  border: 3px solid orangered;
  padding: 5px;
}

.left-image {
  border: 3px dashed orangered;
  float: inline-start;
  width: 100px;
  height: 1200px;
}

.right-image {
  border: 3px dashed purple;
  float: inline-end;
  width: 100px;
  height: 1200px;
}

.main-groups {
  border: 3px dashed teal;
  flex: 1;
}

.footer-link {
  border: 3px dashed darkgreen;
  padding: 5px;
}
