body {
  border: 3px solid black;
}

header {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

h1 {
  border: 3px solid darkred;
}

figure {
  border: 3px dashed yellowgreen;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}



main {
  border: 3px solid blue;
}

footer {
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  min-width: 67%;
  text-align: center;
}

.right-header {
  border: 3px solid purple;
  min-width: 33%;
  text-align: center;
}

.nav-link {
  border: 3px solid orangered;
  padding: 5px;
}

.footer-link {
  border: 3px dashed darkgreen;
  padding: 5px;
}